@model IEnumerable<Resposta>;
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="container">
        <h1 class="subtitle">Você teria coragem de ir pra uma viagem só de ida para marte?</h1>
        @foreach (var item in Model)
        {
            <p>@(item.Nome): @(item.Alternativa ? "Sim" : "Não")</p>
        }
        <p><a asp-action="Index">Voltar ao início</a></p>
    </div>
</body>
</html>